html {
    touch-action: manipulation;
  }
.attack .cut{
  color:red;
}
.defence .cut{
  color:blue;
}
ul{
  list-style:none !important;
  padding:0px;
}
@media screen and (max-width:480px){
*{
  margin-left:1%;
}
ul{
  list-style:none;
  padding:0px;
}
input{
  padding-top:3px;
  padding-bottom:3px;
}
.attack,.defence{
  border:5px solid;
}
.cut{
  font-size:30px;
  margin:10px,0px,0px,10px;
  height:0px;
}
.attackpokemon label,.nowhp label{
  font-size:20px;
}
.attackpokemon input::before{
  content:"\A";
  white-space:pre;
}
.skill label{
  font-size:20px;
}
.skill input,.atklevel input,.attackpokemon input,.nowhp input{
  height:30px;
  width:250px;
  font-size:18px;
}
.atklevel label{
  font-size:20px;
}
.item label{
  font-size:20px;
}
.items{
  margin-bottom:10px;
  width:150px;
  height:30px;
  font-size:18px;
}
.item_level{
  width:60px;
  font-size:18px;
}
.check::before{
  content:"\A";
  white-space:pre;
}
.check input{
  width:20px;
  height:20px;
}
.stats,.check{
  font-size:20px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
 }
 .defencepokemon label{
  font-size:20px;
}
.defencepokemon input{
  height:30px;
  width:250px;
  font-size:18px;
}
.deflevel label{   
  font-size:20px;
} 
.deflevel input{
  height:30px;
  width:250px;
  font-size:18px;
  margin-bottom:10px;
}
.nowhp .num{
  height:30px;
  width:80px;
  font-size:18px;
}
.nowhp .btn{
  width:60px;
}
.result{
  font-size:30px;
}
.unitedb{
  font-size:15px;
}    
}
@media screen and (min-width:481px){
*{
  margin-left:10px;
}
input{
  height:30px;
  font-size:20px;
}
.check{
  font-size:20px;
}
.check input{
  width:20px;
  height:20px;
}
.attack,.defence{
  border:5px solid;
}
.attackpokemon label,.skill label,.atklevel label,.item,.stats,.defencepokemon label,.deflevel label,.nowhp label{
  font-size:20px;
}
.stats{
  margin-left:20px;
}
.items{
  width:180px;
}
.item li{
  padding-right:100px;
}
.item_level,.atklevel input,.deflevel input{
  width:40px;
}
.cut{
  font-size:40px;
  height:40px;
  width:100%;
  margin:10px 0px 0px 30px;
  padding:0;
}
.result{
  font-size:30px;
}
}
